<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://file.myfontastic.com/ScGBhhGWWosoc9ykTwYMG3/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>



<%- include partials/navbar.ejs %>



<div class="jumbotron jumbotron-fluid">
  <div class="container"><br/>
    <h1 class="display-3"></h1>
  </div>
  <nav>
    <ul class="pager">
      <nav class="navbar">
        <div class="btn-group widenButtons">
          <a class="btn btn-default whiteText" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            <i class="fa fa-camera fa-5x"></i>
          </a>  
          <a class="btn btn-default whiteText" href="#">
            <i class="fa fa-paint-brush fa-5x"></i>
          </a> 
          <a class="btn btn-default whiteText" href="#">
            <i class="fa fa-quote-left fa-5x"></i>
          </a>  
        </div>
      </nav>
      <div class="collapse" id="exCollapsingNavbar">
        <div class="navbar" id="srink">
          <div class="btn-group widenButtons">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <i class="icon-north-america makeEvenBigger whiteText"></i>
            </a>  
            <a href="#">
              <i class="icon-europe makeBigger whiteText"></i>
            </a> 
            <a href="#">
              <i class="icon-asia makeBigger whiteText" id="makeBi"></i>
            </a>            
            <a href="#">
              <i class="icon-south-america makeBigger whiteText"></i>
            </a>  
            <a href="#">
              <i class="icon-africa makeBigger whiteText"></i>
            </a>  
            <a href="#">
              <i class="icon-australia makeEvenBigger whiteText"></i>
            </a>  
          </div>
        </div>
      </div>
    </ul>
  </nav>
</div>




<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
         <div class="row">
          <div class="col-md-4">
              <img src="programming.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="programming.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="mic.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
        </div>
         <div class="row">
          <div class="col-md-4">
              <img src="working.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="hearthand.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="computer.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
        </div>
         <div class="row">
          <div class="col-md-4">
              <img src="chalkboard.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="programming.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="mic.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
        </div>
         <div class="row">
          <div class="col-md-4">
              <img src="working.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="hearthand.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="hearthand.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include partials/footer.ejs %>


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
	<!-- <script src="https://code.jquery.com/jquery-2.2.0.js"></script> -->
	<!-- <script src="app.js"></script> -->
  </body>
</html>

