<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://file.myfontastic.com/ScGBhhGWWosoc9ykTwYMG3/icons.css" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
  </head>
  <body>



<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container-fluid sunset p-a-1">
            <div class="btn-group" role="group" aria-label="Basic example">
            <p>REAL TALK...</p>
            </div>
        </div>
    </div>
    <div class="navbar navbar-light navbar-static-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
         <a class="whiteText johnny"><i class="fa fa-diamond fa-lg"></i></a>
        </button>
        <a class="whiteText">ABOUT</a><span> | </span>
        <a class="whiteText">INSPIRE</a><span> | </span>
        <a class="whiteText" href="/blog">BLOG</a> | </span>
        <a class="whiteText" href="/logout">LOGGOUT</a>
    </div>
</div>



<div class="jumbotron jumbotron-fluid">
  <div class="container"><br/>
    <h1 class="display-3">Inspiration...</h1>
    <br/>
    <br/>
  </div>
  <nav>
    <ul class="pager">
      <nav class="navbar">
        <div class="btn-group widenButtons">
          <a class="btn btn-default whiteText" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            <i class="fa fa-camera fa-5x"></i>
          </a>  
          <a class="btn btn-default whiteText" href="#">
            <i class="fa fa-paint-brush fa-5x"></i>
          </a> 
          <a class="btn btn-default whiteText" href="#">
            <i class="fa fa-quote-left fa-5x"></i>
          </a>  
        </div>
      </nav>
      <div class="collapse" id="exCollapsingNavbar">
        <div class="navbar" id="srink">
          <div class="btn-group widenButtons">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <i class="fa fa-quote-left fa-5x"></i>
            </a>  
            <a href="#">
              <i class="icon-europe makebigger johnny"></i>
            </a> 
            <a href="#">
              <i lass="icon-south-america"></i>
            </a>            
            <a href="#">
              <i class="icon-asia makebigger"></i>
            </a>  
            <a href="#">
              <i class="icon-north-america makebigger"></i>
            </a>  
            <a href="#">
              <i class="icon-australia makebigger"></i>
            </a>  
          </div>
        </div>
      </div>
    </ul>
  </nav>
</div>


            <a href="#">
              <i class="icon-africa makebigger"></i>
            </a> 
<!--   <a><i class="icon-africa makebigger"></i></a>
  <i class="icon-asia makebigger"></i>
  <i class="icon-australia makebigger"></i>
  <i class="icon-europe makebigger"></i>
  <i class="icon-north-america makebigger"></i>
  <i class="icon-south-america makebigger"></i> -->
  <!-- <i class="icon-south-america makebigger"></i> -->

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
         <div class="row">
          <div class="col-md-4">
              <img src="icons/asia.png" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="programming.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="mic.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
        </div>
         <div class="row">
          <div class="col-md-4">
              <img src="working.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="hearthand.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="computer.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
        </div>
         <div class="row">
          <div class="col-md-4">
              <img src="chalkboard.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="programming.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="mic.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
        </div>
         <div class="row">
          <div class="col-md-4">
              <img src="working.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
               <img src="hearthand.jpg" class="img-fluid img-rounded" alt="Responsive image">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <nav>
  <ul class="pager">
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <div class="btn-group">
            <a class="btn btn-default whiteText" href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span>
            </a>
            <a class="btn btn-default whiteText" href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x"></i>
              </span>
            </a>
            <a class="btn btn-default whiteText" href="#">
              John Seyfert<br/>© 2016
            </a>
          <a class="btn btn-default whiteText" href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-spotify fa-stack-1x"></i>
            </span>
          </a>  
          <a class="btn btn-default whiteText" href="#">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </span>
    </div>
  </footer>
</ul>
</nav> 


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
	<!-- <script src="https://code.jquery.com/jquery-2.2.0.js"></script> -->
	<!-- <script src="app.js"></script> -->
  </body>
</html>

