.addBottomMargin {
    margin-bottom: 25px;
}

/*.sunset {
    background: url('http://img13.deviantart.net/6f9c/i/2009/236/b/7/a_pretty_cool_background_by_pharmacist151.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    min-height: 650px;
}
*/

/*.jumbotron.jumbotron-fluid {
    background: url('http://www.pptback.com/uploads/black-floral-patterns-backgrounds-powerpoint.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

body {
    background: url('http://www.pptback.com/uploads/black-floral-patterns-backgrounds-powerpoint.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}*/
/*
.row > div {
    padding: 8px;
 }

 html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: url('bw2.jpg') no-repeat center center fixed;
}
*/
/*.widenButtons > a {
  margin-right: 33px;
}

.whiteText {
  color: white;
}

.makeBigger:before {
  font-size: 111px;
}

.makeEvenBigger:before {
  font-size: 130px;
}

.makeBigger:hover {
  color: #0B4787;
  text-decoration: none;
}

.makeEvenBigger:hover {
  color: #0B4787;
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.johnny {
    color: red;
}
.johnny:hover {
    color: black;
}*/



